.navbar {
    position: relative;
    float: left;
    height: 92%;
    width: 18.75%;
    background-color: #333
}

.footer-navbar {
    color: #ccc;
    font-size: 70%;
    bottom: 0%;
    top: 96%;
    margin-left: 20%;
    position: absolute;
}

.nav-item {
    padding: 15px;
    /* padding-left: 30%; */
    text-align: left;
    list-style-type: none;
    color: white;
    font-size: 80%;
}

.nav-item:hover {
    background-color: #eb2f64;
}