html {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(186, 38, 93);
    background: linear-gradient(342deg, rgba(186, 38, 93, 1) 0%, rgba(186, 38, 93, 1) 35%, rgba(235, 47, 100, 1) 100%);
    padding: 0;
    margin: 0;
}

#root {
    height: 1300px;
}

.main {
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 87%;
    width: 84%;
    padding: 0;
    box-sizing: border-box;
}

.container {
    float: left;
    width: 81.25%;
    height: 92%;
    background-color: #f0eeee;
    box-sizing: border-box;
}

.img-container {
    display: inline-block;
    background-size: cover;
}

.imgbox {
    width: 33.33%;
    height: 100%;
    margin: 0;
    float: left;
    box-sizing: border-box;
}

.img {
    width: 33.33%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.view-container {
    margin-top: -0.5%;
    height: 80%;
    float: left;
    width: 100%;
    box-sizing: border-box;
    background-color: #f0eeee;
}

.about-content {
    width: 100%;
    padding: 4.7%;
    box-sizing: border-box;
    font-size: 1em;
    display: inline-block;
}

.contactus-content {
    width: 100%;
    padding: 4.7%;
    box-sizing: border-box;
    font-size: 1em;
    display: inline-block;
}

.hotel-content {
    height: 90.5%;
    width: 100%;
    padding: 4.7%;
    box-sizing: border-box;
    font-size: 12px;
}
